.wrapper {
  padding: 20px;
  background-color: bisque;
  height: 100vh;
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100px;
}
.price span {
  font-size: 36px;
  margin: 10px;
}
.price p {
  font-size: 20px;
  color: teal;
  padding-left: 20px;
}
.price {
  padding-top: 100px;
}
button {
  border: none;
  padding: 10px 20px;
}
.show {
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 15%;
  min-height: 60%;
  width: 60%;
  padding: 2rem;
  overflow: auto;
  background-color: teal;
  color: white;
  opacity: 0.95;
  padding: 50px 50px;
  text-align: center;
  border-radius: 30px;
}
.notShow {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}
.text {
  font-size: 24px;
  padding: 5px 30px;
}
